@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Roboto", sans-serif;
}

:root {
	background: #ffffff;
	color: #000000;
}

@layer components {
	.test button::before {
		color: black;
	}
	.navItem {
		@apply p-2 w-full rounded-full text-center;
		background-color: inherit;
	}

	.navItemBg {
		border: 1px solid #4489ff;
		background: #ffffff40;
	}

	.card {
		@apply p-4 flex flex-col rounded-xl;
		background: #ffffff40;
		box-shadow: 0 8px 32px 0 rgba(142, 142, 142, 0.37);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.18);
	}

	.hide {
		overflow: hidden;
	}
	.hide::-webkit-scrollbar {
		display: none;
	}

	.navBG {
		background: #ffffff40;
		box-shadow: 0 8px 32px 0 rgba(150, 150, 150, 0.37);
		backdrop-filter: blur(10.5px);
		-webkit-backdrop-filter: blur(10.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
}

table {
	border: 1px solid rgb(0, 0, 0);
}

th,
tr,
td {
	border: 1px solid rgb(0, 0, 0);
	padding: 15px;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 20px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: flex-end;
	margin-right: 2rem;
	padding: 20px;
}

.nav-menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	top: 0;
	opacity: 1;
	transition: all 0.5s ease;
}

.nav-menu.active {
	background: #4489ff;
	left: 0;
	opacity: 1;
	transition: all 0.5s ease;
	z-index: 1;
}

.nav-links {
	text-align: center;
	padding: 2rem;
	width: 100%;
}

.nav-links-mobile {
	display: block;
	text-align: center;
	padding: 1.5rem;
	margin: 2rem auto;
	border-radius: 4px;
	width: 80%;
	background: #4ad9e4;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}
