@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.navItem {
		@apply p-2 w-full rounded-full text-white text-center;
		background-color: inherit;
	}

	.card {
		@apply p-4 flex flex-col m-2 rounded-xl bg-white;
		max-width: 50%;
		-webkit-box-shadow: -6px 8px 18px -3px rgba(0, 0, 0, 0.48);
		-moz-box-shadow: -6px 8px 18px -3px rgba(0, 0, 0, 0.48);
		box-shadow: -6px 8px 18px -3px rgba(0, 0, 0, 0.48);
	}

	.hide::-webkit-scrollbar {
		display: none;
	}
}
